body{
    font-family: Verdana, Tahoma, sans-serif, Arial, sans-serif;
    margin: 0%;
}
.section1{
    height: 1380px;
}
.halfwidth{
    float: left;
    width: 35%;
    margin: 6%;  
}
.highlight{
    color: rgb(67, 226, 67);
}

.half2, .half3, img{
    width: 95%;
    height: 95%;
}
.half2 {
    padding-top: 40%;
}
.half4 {
    padding-top: 5%;
    padding-left: 25%;
}

.insideLink{
    font-size: 25px;
    text-decoration: none;
    color: white;
    background-color:orange;
    border-radius: 5px;
    padding: 20px 70px;
}
h1{
    font-size: 70px;
    line-height: 25%;
}
h2{
    font-size: 50px;
}
p{
    font-size: 25px;
    padding-bottom: 10%;
}
.navi{
    text-decoration: none;
    padding-right: 3%;
    font-weight: 900;
}
nav{
    text-align: right;
    padding-top: 2%;
}



/*section2 css start */

.section2{
    background-color: antiquewhite;
    height: 800px;
}
.card{
    float: left;
    border: 20px solid white;
    border-radius: 30px;
    background-color: white;
    width: 20%;
}
#card1{
    margin-left: 10%;
    margin-right: 4%;
}
#card2{
    margin-right: 4%;
}
.sec2para{
    font-size: 15px;
    padding: 0%;
}
.section2 h1{
    font-size: 40px;
    text-align: center;
    padding: 5%;
}



/*section3 css start */


.section3{
    height: 800px;
}
.sec3img{
    background-image: url("shapes/Group_33094_1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
    height: 27%;
    margin: 8% 18%;
}

.section3 h3,h2{
    text-align: center;
}
.section3 img{ 
    width: 3%;
    height: 5%;
}
.img1{
    padding-left: 42%;
}
.img2{
    padding-left: 1.5%;
}
.img3{
    padding-left: 1.5%;
}
.sec3img h1{
    padding-top: 10%;
    padding-left: 7%;
    font-weight: bolder;
    font-size: 45px; 
    color: white;
}
.sec3img a{
    font-size: 15px; 
    color: white; 
    text-decoration: none; 
    background-color: orange; 
    padding: 25px 25px; 
    border-radius: 5px; 
    margin-left: 33%;
}
